extends layout


block content
  div.container-fluid
    div.row
    .container
        .row
            .col-md-12
                h2 Welcome #{data.User.username}
                p 
                    a.btn.btn-primary(href="/users/logout") Logout
        .row
            .col-md-12
                h3 Your Listings
                a.btn.btn-primary(href="/listing/addnew") Add New Listing
                table#listTable
                    each list in data.Listing
                        tr
                            td
                                img(src=list.image class="listimg")
                            td=list.title
                            td
                                a.EditList( data-id=list._id) 
                                    i.fa.fa-pencil-square-o(aria-hidden='true')

                                a.RemoveList( data-id=list._id) 
                                    i.fa.fa-trash(aria-hidden='true')
                
        .row
            .col-md-12
                h3 Edit Your Profile
                form(method="post" action="/users/updateProfile")
                    .row
                        .col-md-6.field-group
                            label.userlbl Username
                            input(type='text', name="username" value=data.User.username class="form-control")
                        .col-md-6.field-group    
                            label.userlbl Email
                            input(type='text', name="email" readonly="readonly" value=data.User.email class="form-control")
                    .row        
                        .col-md-6.field-group
                            label.userlbl Password
                            input(type='password', name="password" value=data.User.password class="form-control")
                        .col-md-6.field-group
                          label.userlbl First Name
                          input(type='text', name="fname" value=data.User.fname class="form-control")
                    .row
                        .col-md-6.field-group
                          label.userlbl Last Name
                          input(type='text', name="lname" value=data.User.lname class="form-control")
                    .row
                        .col-md-12.field-group.text-center
                          input.btn.btn-primary(type='submit', value='Save' name="submt")

